* {
    margin: 0;
    padding: 0;
}

header {
    background: #23232e;
    min-height: 9%;
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

body {
    padding-top: 8vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 27vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        margin-top: 5px;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.text-container {
    background: #3334369e;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    border: 0.1em solid hsl(30, 20%, 40%);
    border-radius: 2em;
    box-shadow: 1px 1px 0.5em black inset;
    width: 45vh;
    margin: auto;
    margin-top: 0.6rem;
}

.text-container ol li {
    padding: 2vh;
    margin-left: 10px;
}

.formulario {
    background: #3334369e;
    color: #fff;
    padding: 1%;
    border-radius: 1em;
    border: 0.1em solid hsl(30, 20%, 40%);
    font-size: large;
    width: 45vh;
    margin: 2rem auto;
}

input {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 5px;
    font-size: 14px
}

footer {
    background: #1d2026d0;
    color: #fff;
    bottom: 0px;
    height: 5vh;
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 18px
}

.logotipo-do-linkedin,
.logotipo-do-github {
    padding: 0.3rem;
    width: 1.4rem;
    cursor: pointer;
    display: inline-block;
}

.titulos {
    padding-top: 10vh;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.titulo {
    font-size: 35px;
    font-weight: bold;
    color: #1d2026;
}

.subtitulo {
    font-size: 16px;
    color: #fff;
}

.mensagemContainer {
    display: block;
    background: #3334369e;
    color: #fff;
    padding: 1%;
    border-radius: 1em;
    border: 0.1em solid hsl(30, 20%, 40%);
    font-size: large;
    width: 17vh;
    margin: 0.1em auto;
}

.mensagem {
    display: contents;
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    width: 6vh;
    cursor: pointer;
    letter-spacing: 4px;
}

main {
    background: url("../assets/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.btn {
    justify-content: space-around;
    margin-top: 10px;
    display: flex;
}
button{
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3rem;
}
button:hover {
    opacity: 0.7;
}

.tabelaIMC {
    text-align: center;
    display: block;
    background: #3334369e;
    color: #fff;
    padding: 2%;
    border-radius: 1em;
    border: 0.1em solid hsl(30, 20%, 40%);
    font-size: 18px;
    width: 27vh;
    margin: 2rem auto;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
}

td {
    border: 0.1em solid hsl(0, 0%, 100%);
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #3334369e;
    text-align: center;
    padding: 1px;
    vertical-align: middle;
}

td:hover,
th:hover {
    background-color: gray;
    opacity: 0.7;
}